#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.modal{
  background-color: rebeccapurple;
  height: 500px;
  width: 300px;
  border-radius: 12px;
}

.profile img{
  margin-top: 20px;
}


